.board {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    /* background-image: url("./images/gameboy.png");
    background-repeat: no-repeat; */
    background-size: auto;
}


#charmander {
    width: 100px;
    height: 100px;
    background-color: red;
}

#squirtle {
    width: 100px;
    height: 100px;
    background-color: blue;
}
#bulbasaur {
    width: 100px;
    height: 100px;
    background-color: green;
}

.pokemon-fight {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

#pokemon-fight {
    width: 80vw;
    height: 80vh;
    /* background-color: purple; */
}

#player {
    width:100px;
    height:100px;
    background-color: aqua;
}

#enemy-pokemon {
    width:100px;
    height:100px;
    background-color: pink;
}

#enemy-health {
    width:100px;
    height:20px;
    /* background-color: brown; */
}